<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Welcome!
    </h1>
    <br>
    <h2 class="display-5">
      Get fun fact about popular authors of mystery novels!
    </h2>
    <br>
    <p>
      <a class="btn btn-primary btn-lg" href="./funfact" role="button">
        Get fun fact »
      </a>
    </p>
  </div>
</div>